# Pandas Assignment

Q1. How do you load a CSV file into a Pandas DataFrame?

A1. To import a CSV file and put the contents into a Pandas dataframe we use the read_csv() function:

df = pd.read_csv('data.csv')

Q2. How do you check the data type of a column in a Pandas DataFrame?

A2. To check the data type in pandas DataFrame we can use the “dtypes” attribute:

df['column_name'].dtypes

Q3. How do you select rows from a Pandas DataFrame based on a condition?

A3. You can select the rows from pandas DataFrame basedon conditions by either using DataFrame.loc[] attribute or using conditional operators to columns or DataFrame.apply() method to use lambda function to a dataframe.

Q4. How do you rename columns in a Pandas DataFrame?

A4. We can rename columns in a Pandas DataFrame using rename() function or assigning list of new column names or using set_axis() function.

Q5. How do you drop columns in a Pandas DataFrame?

A5. By using the drop() function the specified column can be dropped. And we must specifying the axis as "1" for columns.

Q6. How do you find the unique values in a column of a Pandas DataFrame?

A6. To find the unique values from a column in a Pandas dataframe we can use the unique() method:

df['column_name'].unique()

Q7. How do you find the number of missing values in each column of a Pandas DataFrame?

A7.We can count the number of missing values in each column by calling sum() to the result of isnull() function:

df.isnull().sum()

Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

A8. The fillna() method replaces the NULL values with a specified value:

df.fillna(0)

Q9. How do you concatenate two Pandas DataFrames?

A9. To concatenate two DataFrames the concat function can be used:

pd.concat([df1, df2])

Q10. How do you merge two Pandas DataFrames on a specific column?

A10. We can merge two DataFrames on certain columns using the merge function by simply specifying the certain columns for merge: 

df1.merge(df2[['Name']])

Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

A11. We can group data in a Pandas DataFrame by using groupby() function. This function returns the DataFrame Grouped by specified columns then we use aggregate() function on top of that:

df.groupby(['StudentID','Subject']).sum()

Q12. How do you pivot a Pandas DataFrame?

A12. The pivot function in pandas is used to pivot a Pandas DataFrame:

df.pivot(index ='A', columns = 'C', values = 'B')

Q13. How do you change the data type of a column in a Pandas DataFrame?

A13. astype() method is used to cast pandas object to a specified dtype:

df['col'].astype(str)

Q14. How do you sort a Pandas DataFrame by a specific column?

A14. To sort the DataFrame based on a specific column, we use sort_values() function. By default, this will return a new DataFrame sorted in ascending order.

Q15. How do you create a copy of a Pandas DataFrame?

A15. The copy() method returns a copy of the DataFrame:

df1= df.copy()

Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

A16. To filter Pandas DataFrame by multiple conditions, we use the loc property with the conditions inside. Make sure you surround each condition with braces:

dataFrame.loc[(dataFrame['Salary']>=1000) & (dataFrame['Age']< 40)]

Q17. How do you calculate the mean of a column in a Pandas DataFrame?

A17. To calculate the mean of a columns in the DataFrame, use the mean() method:

df['col'].mean()

Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

A18. We use the std() method to calculate the standard deviation of columns in the DataFrame:

df['age'].std()

Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

A19. We can use the .corr() method to get the correlation between two columns in Pandas:

corr = df[col1].corr(df[col2])

Q20. How do you select specific columns in a DataFrame using their labels?

A20. To select a single column, use square brackets [] with the specific column name. To select multiple columns, use a list of column names within the selection brackets []:

age_sex = titanic[["Age", "Sex"]]

Q21. How do you select specific rows in a DataFrame using their indexes?

A21. We can select specific rows from pandas DataFrame by using iloc property:

df.iloc[n]

Q22. How do you sort a DataFrame by a specific column?

A22. To sort the DataFrame based on the values in a specific column, you'll use .sort_values() function and passing the column name in the by parameter:

df.sort_values(by = 'Name')

Q23. How do you create a new column in a DataFrame based on the values of another column?

A23. We can use DataFrame.apply() function to achieve this task:

df['new_col'] = df.apply(lambda row: row.Price**2, axis = 1)

Q24. How do you remove duplicates from a DataFrame?

A24. We can use the drop_duplicates() function to remove all the duplicate rows from a DataFrame:

df.drop_duplicates()

Q25. What is the difference between .loc and .iloc in Pandas?

A25. Both are used in slicing data from the Pandas DataFrame. loc is typically used for label indexing and can access multiple columns, while iloc is used for integer indexing. The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select whereas the iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc uses system indexes and loc uses the user labeled indexes.